/* body{
    margin: 0;
    width: 100%;
}
nav{
    background-color: gray;
    /* position: fixed; */
    /* width: 100%;
    height: 11%;
    opacity: 0.5;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* display: inline-block; */
    
}
/* nav ul li{
    float: left;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 25px;
}
.nav-item{
    position: absolute;
    right: 5%;
} */

/* div - 2 */

/* .brand-text{
    position: absolute;
    text-align: center;
    top: 80px;
    width: 100%;
    height: 80%;
    background-color: yellow;
}
.div3{
    background-color: blue;
    text-align: center;
    width: 100%;
    position: relative;
    top: 595px;
    height: 600px;
}
.services{
    position: absolute;
    top: 60px;
}
.home-service{
    position: relative;
    top: 80px;
    box-shadow: 2px 2px 2px 2px black;
}

.div4{
    width: 100%;
    height: 600px;
    background-color: green;
    position: relative;
    top: 595px;
}
.mySlides{
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 20px;
}
.img{
    position: absolute;
    top: 100px;
    max-width: 500px;
}
.para-history{
    position: absolute;
    left: 550px;
    top: 200px;
}

.div4{
    background-color: yellow;
    height: 300px;
    position: relative;
    top: 650px;
} */




